// SPDX-License-Identifier: (GPL-2.0+ or MIT)
// Copyright (C) 2022 Samuel Holland <samuel@sholland.org>

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/input/gpio-keys.h>
#include "sun8i-t113.dtsi"

/ {
	model = "T113 IoT Station";
	compatible = "fem,t113-iot-station", "allwinner,sun8i-t113";

	aliases {
		ethernet0 = &rtl8723bs;
		mmc0 = &mmc0;
		serial2 = &uart2;
		serial4 = &uart4;
        spi0 = &spi0;
        spi1 = &spi1;
	};

	chosen {
		stdout-path = "serial4:115200n8";
		bootargs = "mem=128M cma=32M root=/dev/mmcblk0p2 rw init=/sbin/init rootwait console=tty0 console=ttyS4,115200";
	};

    memory@40000000 {
		device_type = "memory";
		reg = <0x40000000 0x8000000>;   /* SIP 128MB */
    };
    
	reg_vcc: vcc {
		compatible = "regulator-fixed";
		regulator-name = "vcc";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	reg_usbvbus: usbvbus {
		compatible = "regulator-fixed";
		regulator-name = "usbvbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&reg_vcc>;
	};

	reg_vcc_3v3: vcc-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&reg_vcc>;
	};

	// reg_avdd2v8: avdd2v8 {
	// 	compatible = "regulator-fixed";
	// 	regulator-name = "avdd2v8";
	// 	regulator-min-microvolt = <2800000>;
	// 	regulator-max-microvolt = <2800000>;
	// 	vin-supply = <&reg_vcc_3v3>;
	// };

	reg_vdd_cpu: vdd-cpu {
		compatible = "regulator-fixed";
		regulator-name = "vdd-cpu";
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
		vin-supply = <&reg_vcc>;
	};


	// dmic_codec: dmic-codec {
	// 	compatible = "dmic-codec";
	// 	num-channels = <2>;
	// 	#sound-dai-cells = <0>;
	// };

	// dmic-sound {
	// 	compatible = "simple-audio-card";
	// 	#address-cells = <1>;
	// 	#size-cells = <0>;

	// 	simple-audio-card,dai-link@0 {
	// 		format = "pdm";
	// 		frame-master = <&link0_cpu>;
	// 		bitclock-master = <&link0_cpu>;

	// 		link0_cpu: cpu {
	// 			sound-dai = <&dmic>;
	// 		};

	// 		link0_codec: codec {
	// 			sound-dai = <&dmic_codec>;
	// 		};
	// 	};
	// };

	// leds {
	// 	compatible = "gpio-leds";

	// 	status_led {
	// 		linux,default-trigger = "heartbeat";
	// 		label = "blue:status";
	// 		gpios = <&pio 3 22 GPIO_ACTIVE_HIGH>;
	// 	};
	// };

    // rtl8723bs_codec: bt-codec-bt-sco {
    //     #sound-dai-cells = <0>;
    //     compatible = "linux,bt-sco";
    // };

    // rtl8723bs_pcm: bt-sound {
	// 	compatible = "simple-audio-card";
	// 	simple-audio-card,name = "rtl8723bs-bt-pcm";
	// 	simple-audio-card,format = "dsp_a";
    //     simple-audio-card,mclk-fs = <384>;
	// 	simple-audio-card,bitclock-inversion;
	// 	simple-audio-card,frame-master = <&btcpu>;
	// 	simple-audio-card,bitclock-master = <&btcpu>;

	// 	btcpu: simple-audio-card,cpu {
	// 		sound-dai = <&i2s1>;
	// 		dai-tdm-slot-num = <1>;
	// 		dai-tdm-slot-width = <16>;
	// 	};

	// 	simple-audio-card,codec {
	// 		sound-dai = <&rtl8723bs_codec>;
	// 	};
	// };

    wheel_keys: gpio-keys {
        compatible = "gpio-keys";
        autorepeat;

        key-up {
            label = "Wheel Key Up";
            linux,code = <KEY_UP>;
            interrupt-parent = <&pio>;
            interrupts = <4 11 IRQ_TYPE_LEVEL_HIGH>;    /* PE11 */
        };

        key-down {
            label = "Wheel Key Down";
            linux,code = <KEY_DOWN>;
            interrupt-parent = <&pio>;
            interrupts = <4 2 IRQ_TYPE_LEVEL_HIGH>;     /* PE2 */
        };

        key-center {
            label = "Wheel Key Center";
            linux,code = <KEY_ENTER>;
            wakeup-source;
            wakeup-event-action = <EV_ACT_ASSERTED>;
            interrupt-parent = <&pio>;
            interrupts = <6 8 IRQ_TYPE_LEVEL_HIGH>;     /* PG8 */
        };
    };

	wifi_pwrseq: wifi-pwrseq {
		compatible = "mmc-pwrseq-simple";
		// clocks = <&ccu CLK_FANOUT1>;
		// clock-names = "ext_clock";
		reset-gpios = <&pio 3 21 GPIO_ACTIVE_LOW>; /* PD21 */
		// assigned-clocks = <&ccu CLK_FANOUT1>;
		// assigned-clock-rates = <32768>;
		// pinctrl-0 = <&clk_pg11_pin>;
		// pinctrl-names = "default";
	};

    lcd_backlight: backlight {
        compatible = "pwm-backlight";
        pinctrl-0 = <&pwm2_pe8_pins>;
        pinctrl-names = "default";
        pwms = <&pwm 2 200000 0>;
        brightness-levels = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15>;
        default-brightness-level = <15>;
        power-supply = <&reg_vcc_3v3>;
    };
};

&reg_aldo {
    regulator-boot-on;
    regulator-always-on;
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	vdd33-supply = <&reg_vcc_3v3>;
};

&reg_hpldo {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	hpldoin-supply = <&reg_vcc_3v3>;
};

&cpu0 {
	cpu-supply = <&reg_vdd_cpu>;
};

&cpu1 {
	cpu-supply = <&reg_vdd_cpu>;
};

&wdt {
	status = "okay";
};

&ve {
	status = "okay";
};

// &de {
// 	status = "okay";
// };

// &dsi {
// 	pinctrl-0 = <&dsi_4lane_pins>;
// 	pinctrl-names = "default";
// 	status = "disabled";

//         panel: panel@0 {
// 			reg = <0>;
// 			compatible = "lg,lh500wx1-sd03";
// 			pinctrl-names = "default";

// 			// pinctrl-0 = <&panel_pin>;

// 			// port {
// 			// 		panel_in: endpoint {
// 			// 				remote-endpoint = <&dsi0_out>;
// 			// 		};
// 			// };

//         };
// };

&pio {

	vcc-pb-supply = <&reg_vcc_3v3>;
	vcc-pc-supply = <&reg_vcc_3v3>;
	vcc-pd-supply = <&reg_vcc_3v3>;
	vcc-pe-supply = <&reg_vcc_3v3>;
	vcc-pf-supply = <&reg_vcc_3v3>;
	vcc-pg-supply = <&reg_vcc_3v3>;

    uart2_pd1_pins: uart2-pd1-pins {
        pins = "PD1", "PD2";
        function = "uart2";
    };

    uart2_pd3_rts_cts_pins: uart2-pd3-rts-cts-pins {
        pins = "PD3", "PD4";
        function = "uart2";
    };

    uart4_pb2_pins: uart4-pb2-pins {
        pins = "PB2", "PB3";
        function = "uart4";
    };

    // i2s1_pg12_pins: i2s1-pg12-pins {
    //     pins = "PG12", "PG13";
    //     function = "i2s1";
    // };
    // i2s1_pg14_pins: i2s1-pg14-pins {
    //     pins = "PG14";
    //     function = "i2s1_din";
    // };
    // i2s1_pg15_pins: i2s1-pg15-pins {
    //     pins = "PG15";
    //     function = "i2s1_dout";
    // };

    pwm2_pe8_pins: pwm2-pe8-pins {
        pins = "PE8";
        function = "pwm2";
    };

    spi0_basic_pins: spi0-basic-pins {
        pins = "PC2", "PC3", "PC4", "PC5";
        function = "spi0";
    };

	// clk_pg11_pin: clk-pg11-pin {
	// 		pins = "PG11";
	// 		function = "clk";
	// };
};

&pwm {
    status = "okay";
};

&uart2 {
    pinctrl-names = "default";
    pinctrl-0 = <&uart2_pd1_pins>, <&uart2_pd3_rts_cts_pins>;
    uart-has-rtscts;
    status = "okay";

	rtl8723bs_bt: bluetooth {
        compatible = "realtek,rtl8723bs-bt";
        device-wake-gpios = <&pio 3 0 GPIO_ACTIVE_HIGH>;    /* PD0 */
        enable-gpios = <&pio 1 7 GPIO_ACTIVE_HIGH>;         /* PB7 */
        host-wake-gpios = <&pio 3 20 GPIO_ACTIVE_HIGH>;     /* PD20 */
    };
};

&uart4 {
	pinctrl-0 = <&uart4_pb2_pins>;
	pinctrl-names = "default";
	status = "okay";
};

// &i2c2 {
// 	pinctrl-0 = <&i2c2_pe12_pins>;
// 	pinctrl-names = "default";
// 	status = "okay";
// };

&spi0 {
	pinctrl-0 = <&spi0_basic_pins>;
	pinctrl-names = "default";
	status = "okay";
	spi_slave_mode = <0>;
	spi0_cs_number = <1>;
	spi-supply = <&reg_vcc_3v3>;

    // nrf24l01: nrf24l01@0 {
	// 	reg = <0>;
	// 	spi-max-frequency = <1000000>;
    //     status = "okay";
    // };
};

&spi1 {
	pinctrl-0 = <&spi1_pd_pins>;
	pinctrl-names = "default";
	status = "okay";
	spi_slave_mode = <0>;
	spi_dbi_enable = <1>;
	spi1_cs_number = <1>;
	spi-supply = <&reg_vcc_3v3>;

    // st7735s: st7735s@0 {
	// 	reg = <0>;
	// 	spi-max-frequency = <80000000>;
    //     status = "okay";
    // };
};

&mmc0 {
	bus-width = <4>;
	disable-wp;
	vmmc-supply = <&reg_vcc_3v3>;
	vqmmc-supply = <&reg_vcc_3v3>;
	pinctrl-0 = <&mmc0_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&mmc1 {
	bus-width = <4>;
	mmc-pwrseq = <&wifi_pwrseq>;
	non-removable;
	vmmc-supply = <&reg_vcc_3v3>;
	vqmmc-supply = <&reg_vcc_3v3>;
	pinctrl-0 = <&mmc1_pins>;
	pinctrl-names = "default";
	status = "okay";

	rtl8723bs: sdio_wifi@1 {
        reg = <1>;
        interrupt-parent = <&pio>;
        interrupts = <3 22 IRQ_TYPE_LEVEL_HIGH>; /* PD22 */
        interrupt-names = "host-wake";
	};
};

&codec {
	allwinner,routing = 
        "Amplifier In", "HPOUTL",
        "MICIN3", "Mic",
        "MICIN3", "HBIAS";
        // "Headphone Jack", "HPOUTL",
        // "Headphone Jack", "HPOUTR",
        // "LINEINL", "HPOUTL",
        // "LINEINR", "HPOUTR",
        // "MICIN3", "Headset Microphone",
        // "Headset Microphone", "HBIAS";
	allwinner,widgets = 
        "Microphone", "Mic",
        "Headphone", "Amplifier In";
        // "Microphone", "Headset Microphone",
        // "Headphone", "Headphone Jack";
    /* PA GPIO */
    allwinner,pa-gpios = <&pio 6 9 GPIO_ACTIVE_LOW>;
	avcc-supply = <&reg_aldo>;
	hpvcc-supply = <&reg_hpldo>;
	vdd33-supply = <&reg_vcc_3v3>;    
	status = "okay"; 
};

// &i2s1 {
// 	pinctrl-0 = <&i2s1_pg12_pins>, <&i2s1_pg14_pins>, <&i2s1_pg15_pins>;
// 	pinctrl-names = "default";
// 	status = "okay";
//     sound-dai = <&rtl8723bs_codec>;
// };

// &usb_otg {
// 	dr_mode = "otg";
// 	status = "okay";
// };

&ehci0 {
	status = "okay";
};

// &dmic {
// 	status = "okay";
// };

// &ehci1 {
// 	status = "okay";
// };


&ohci0 {
	status = "okay";
};

// &ohci1 {
// 	status = "okay";
// };


&ths {
	status = "okay";
	vref-supply = <&reg_aldo>;
};

&usbphy {
	usb0_vbus-supply = <&reg_usbvbus>;
	usb1_vbus-supply = <&reg_usbvbus>;
	status = "okay";
};

// &mdio {
// 	ext_rgmii_phy: ethernet-phy@1 {
// 		compatible = "ethernet-phy-ieee802.3-c22";
// 		reg = <1>;
// 	};
// };

// &emac {
// 	pinctrl-0 = <&rgmii_pe_pins>;
// 	pinctrl-names = "default";
// 	phy-handle = <&ext_rgmii_phy>;
// 	phy-mode = "rgmii-id";
// 	phy-supply = <&reg_vcc_3v3>;
// 	status = "disabled";
// };

/*
&can0 {
	pinctrl-names = "default";
	pinctrl-0 = <&can0_pins>;
	status = "okay";
};

&can1 {
	pinctrl-names = "default";
	pinctrl-0 = <&can1_pins>;
	status = "disabled";
};
*/
